core/src/main/resources/fr/gael/dhus/system/config/dhus-cron.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
   Data Hub Service (DHuS) - For Space data distribution.
   Copyright (C) 2013,2014,2015 GAEL Systems

   This file is part of DHuS software sources.

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" elementFormDefault="qualified" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	jxb:version="2.1" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
	xmlns:annox="http://annox.dev.java.net" jxb:extensionBindingPrefixes="inheritance annox"
	xmlns:dhusCron="fr.gael.dhus.database.object.config.cron"
	targetNamespace="fr.gael.dhus.database.object.config.cron">

	<xs:annotation>
		<xs:appinfo>
			<jxb:schemaBindings>
				<jxb:package name="fr.gael.dhus.database.object.config.cron" />
			</jxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="cronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element minOccurs="0" name="archiveSynchronization"
				type="dhusCron:archiveSynchronizationCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="archiveSynchronizationConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cleanDatabase"
				type="dhusCron:cleanDatabaseCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="cleanDatabaseConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cleanDatabaseDump"
				type="dhusCron:cleanDatabaseDumpCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="cleanDatabaseDumpConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dumpDatabase"
				type="dhusCron:dumpDatabaseCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="dumpDatabaseConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="eviction"
				type="dhusCron:evictionCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="evictionConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="fileScanners"
				type="dhusCron:fileScannersCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="fileScannersConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="searches"
				type="dhusCron:searchesCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="searchesConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="sendLogs"
				type="dhusCron:sendLogsCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="sendLogsConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		    <xs:element minOccurs="0" name="systemCheck"
				type="dhusCron:systemCheckCronConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="systemCheckConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="archiveSynchronizationCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="ARCHIVE_SYNCHRONIZATION_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="ARCHIVE_SYNCHRONIZATION_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="cleanDatabaseCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="tempUsers"
				type="dhusCron:tempUsersConfiguration">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="tempUsersConfiguration" />
						<annox:annotate target="field">@javax.persistence.Embedded
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="statistics"
            type="dhusCron:statisticsConfiguration">
            <xs:annotation>
               <xs:appinfo>
                  <jxb:property name="logStatConfiguration" />
                  <annox:annotate target="field">@javax.persistence.Embedded
                  </annox:annotate>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
		</xs:sequence>
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="DBCLEAN_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="DBCLEAN_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="tempUsersConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="keepPeriod" type="xs:int">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="TMPUSERS_KEEPPERIOD",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="statisticsConfiguration">
	  <xs:annotation>
	     <xs:appinfo>
            <inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
            </inheritance:extends>
            <annox:annotate>@javax.persistence.Embeddable</annox:annotate>
         </xs:appinfo>
	  </xs:annotation>
	  <xs:all />
	  <xs:attribute name="keepPeriod" type="xs:int">
	     <xs:annotation>
            <xs:appinfo>
               <annox:annotate target="field">@javax.persistence.Column(name="LOGS_KEEP_PERIOD",
                  nullable=false)</annox:annotate>
            </xs:appinfo>
         </xs:annotation>
	  </xs:attribute>
	</xs:complexType>

	<xs:complexType name="cleanDatabaseDumpCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="DBDUMPCLEAN_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="keep" type="xs:int">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="DBDUMPCLEAN_KEEP",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="DBDUMPCLEAN_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="dumpDatabaseCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="DBDUMP_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="DBDUMP_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="evictionCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="EVICTION_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="EVICTION_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="fileScannersCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="FILESCANNERS_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="FILESCANNERS_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sourceRemove" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="FILESCANNERS_SOURCEREMOVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="searchesCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="SEARCHES_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="SEARCHES_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="sendLogsCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="SENDLOGS_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="addresses" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="SENDLOGS_ADDRESSES",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="SENDLOGS_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="systemCheckCronConfiguration">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:extends>fr.gael.dhus.database.object.config.ConfigurationPart
				</inheritance:extends>
				<annox:annotate>@javax.persistence.Embeddable</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:all />
		<xs:attribute name="active" type="xs:boolean">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="SYSTEMCHECK_ACTIVE",
						columnDefinition = "BOOLEAN", nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schedule" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<annox:annotate target="field">@javax.persistence.Column(name="SYSTEMCHECK_SCHEDULE",
						nullable=false)</annox:annotate>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

</xs:schema>
